
html {
  line-height: 1.15; /* 1 */
  -ms-text-size-adjust: 100%; /* 2 */
  -webkit-text-size-adjust: 100%; /* 2 */
  font-family:Arial, Helvetica, sans-serif !important;
}

body {
  background: rgb(255, 255, 255); 
}
page {
  background: white;
  display: block;
  margin: 0 auto;
  margin-bottom: 0.5cm;
  box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);
}
page[size="A4"] {  
  width: 21cm;
  height: auto; 
  padding: 5mm;
}
page[size="A4"][layout="portrait"] {
  width: 29.7cm;
  height: 21cm;  
}
page[size="A3"] {
  width: 29.7cm;
  height: 42cm;
}
page[size="A3"][layout="portrait"] {
  width: 42cm;
  height: 29.7cm;  
}
page[size="A5"] {
  width: 14.8cm;
  height: 21cm;
}
page[size="A5"][layout="portrait"] {
  width: 21cm;
  height: 14.8cm;  
}
@media print {
  body, page {
    margin: 0;
    box-shadow: 0;
  }
}
 @page {
  size: auto;
  margin: 0;
       }

tr.border_bottom td {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);


}

@media print {
  #printPageButton {
    display: none;
  }
}

.print {
  margin-top: 20px;
  text-align: right;
  

}

.btn-print {
    padding: 10;
    color: #ffffff;
    font-size: 14px;
    cursor: pointer;
    background-color: #1e88e5;
}

dl {
  margin-top:0;margin-bottom:20px
  }
  dd,dt {
    line-height:1.42857143
  }
  dt {
    font-weight:700
    }dd{margin-left:0}


